{{ render_flashed_messages('take-success') }}
<div class="charge-records">
    <div class="smallBox">
        <div>
            {% for item in records %}
            <div class="itemBox">
                <p>{{ item.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                <div  class="">
                    <div class="clearfix">
                        <div class="left col-xs-6">
                            <span>资产类型:</span> <span class="num">{{item.cate}}</span>
                        </div>
                        <div class="right col-xs-6">
                            <p>
                                <span>提币数量:</span> 
                                {% if "nft" in item.cate.name.lower() %}
                                <span>{{item.value|int}}</span>
                                {% else %}
                                <span>{{"%.8f"|format(item.value)}}</span>
                                {% endif %}
                            </p>
                            <p>
                                <span>交易txID:</span> 
                                <span>
                                        {% if item.status %}完成{% else %}进行中{% endif %}
                                </span>
                            </p>
                            <p></p>                 
                                <span>提币进度:</span> 
                                <span>
                                    {% if item.status == 2 %}成功{% else %}进行中{% endif %}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}	
        </div>
    </div>
    <table class="table" id="take_table_1">
        <thead>
            <tr>
                <th>申请时间</th>
                <th>资产类型</th>
                <th>提币数量</th>
                <th>交易txID</th>
                <th>提币进度</th>
            </tr>
        </thead>
        <tbody class="cz-body">
            {% for item in records %}
            <tr>
                <td style="color:#888;">{{item.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                <td>{{item.cate}}</td>
                {% if "nft" in item.cate.name.lower() %}
                <td><strong>{{item.value|int}}</strong></td>
                {% else %}
                <td><strong>{{"%.8f"|format(item.value)}}</strong></td>
                {% endif %}
                <td>{{item.tx_id}}</td>
                <td style="color:green">{% if item.status == 2 %}成功{% else %}进行中{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

