{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends 'frontend-base.html' %}
{% block content %}
{% include "security/_messages.html" %}
<div class="container">
		<div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8">
	<h3 style="font-weight:bold; text-align: center" data-language="reset_password_lg_1">重置密码</h3>
	<form  action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
		{{ forgot_password_form.hidden_tag() }}
		<div class="form-group" style="margin-top: 30px;">
				<label data-language="reset_password_lg_2">邮箱</label>
				{% for error in forgot_password_form.email.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
			{{ forgot_password_form.email(class_="form-control", placeholder="email") }}
		</div>
		<div class="form-group" style="margin-top: 30px;">
				<button type="submit" class="btn btn-success form-control" data-language="reset_password_lg_3">确定</button>
		</div>
	</form>
	</div>
	</div>
</div>
{% endblock %}
{% block second_header %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block footer %}
{% endblock %}