{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends 'frontend-base.html' %}
{% block content %}
{% include "security/_messages.html" %}
<div class="container">
    <div class="row">
        <div>
            <span class="col-sm-1 col-xs-0" >  </span>
            <p class = "h3  col-sm-10">{{ "重置支付密码" if g.lang == "cn"  else "Change Pay Password" }}</p>
        </div>
        <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8">
            <form action="{{ url_for('reset_pay') }}" method="POST" name="reset_form">
            {{ reset_form.hidden_tag() }}
            <div class="form-group">
                <label>{{ "邮箱" if g.lang == "cn"  else "Email" }}</label>
                {% for error in reset_form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ reset_form.email(class_="form-control") }}
            </div>
            <div class="form-group">
                <label>{{"新支付密码" if g.lang == "cn"  else "New pay password"}}</label>
                {% for error in reset_form.pay_password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ reset_form.pay_password(class_="form-control") }}
            </div>
            <div class="form-group">
                <label data-language="change_password_lg_4">{{"确认密码" if g.lang == "cn"  else "Confirm password"}}</label>
                {% for error in reset_form.pay_password_confirm.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ reset_form.pay_password_confirm(class_="form-control") }}
            </div>
            <div class="form-group" style="position: relative;">
                <label>{{ "图片验证码" if g.lang == "cn"  else "Image verify code" }}</label>
                {% for error in reset_form.image_code.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ reset_form.image_code(class_="form-control") }}
                <img  src="data:image/png;base64,{{reset_form.img}}" alt="" id="code_img" title="{{ "点击刷新验证码" if g.lang == "cn"  else "Click to refresh the verification code" }}">
            </div>
            <div class="form-group" style="position: relative;">
                <label>{{ "邮箱验证码" if g.lang == "cn"  else "Email verify code" }}</label>
                {% for error in reset_form.email_code.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ reset_form.email_code(class_="form-control") }}
                <a  id="get_code" class="" href="javascript:void(0);">{{"获取邮箱验证码" if g.lang == "cn" else "Get email verify code"}}</a>
                <span id="get-sms-left" class="text-desc hidden" style="font-size: 12px;position: absolute;top: 33px;right: 5px;">90s后可重新获取</span>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <button type="submit" class="btn btn-success form-control">{{ "确定" if g.lang == "cn"  else "OK" }}</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block second_header %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/auth.js')}}"></script>
{% endblock %}
{% block footer %}
{% endblock %}