<div class="top-header">
    <div class="site-navbar" data-spy="affix" data-offset-top="130">
        <div class="container">
            <ul class="list" id="list">
                    <!-- <a class="hover-effect col-xs-3" href="{{url_for('market')}}">
                            <span>
                                <span>Official Store</span>
                                <span>Official Store</span>
                                <span></span>
                            </span>
                        </a>
                    <a class="hover-effect col-xs-3" href="{{url_for('c2c_market')}}">
                        <span>
                            <span>C2C Market</span>
                            <span>C2C Market</span>
                            <span></span>
                        </span>
                    </a> 
                    <a class="hover-effect col-xs-3" href="{{url_for('faq')}}">
                        <span>
                            <span>Help</span>
                            <span>Kelp</span>
                            <span></span>
                        </span>
                    </a> 
                    <a class="hover-effect col-xs-3" href="{{url_for('guide')}}">
                        <span>
                            <span>Guidance</span>
                            <span>Guidance</span>
                            <span></span>
                        </span>
                    </a>    -->
                <!-- <li class="all-category">
                    <div class="all"><a href="">全部商品分类</a></div>
                </li>    -->
                <!-- 首页 -->
                <!--  <li class="col-sm-2"><a href="{{url_for('index')}}" id="home">Home</a></li> -->
                <!-- 官方市场 -->
                <li class="col-xs-3"><a href="{{url_for('market')}}" id="mar">Official Store</a></li>
                <!-- C2C市场 -->
                <li class="col-xs-3"><a href="{{url_for('c2c_market')}}" id="c2c">C2C Market</a></li>
                <!-- 游戏论坛 -->
                <!--  <li class="col-sm-2"><a href="" id="forum">Game Forum</a></li> -->
                <!-- 常见问题 -->
                <li class="col-xs-3"><a href="{{url_for('faq')}}" id="pro">Help</a></li>
                <!-- 新手指南 -->
                <li class="col-xs-3"><a href="{{url_for('guide')}}" id="guide">About Marketplace</a></li>
            </ul>
        </div>
    </div>
</div>