<div class="top-header">   
    <div class="site-navbar" data-spy="affix" data-offset-top="130">
        <div class="container">
            <ul class="list ">
                <!-- <li class="all-category">
                    <div class="all"><a href="">全部商品分类</a></div>
                </li>    -->
                <!-- 首页 -->
                <!-- <li class="col-sm-2"><a href="{{url_for('index')}}">主页</a></li> -->
                <!-- 官方市场 -->
                <!-- <a class="hover-effect col-xs-3" href="{{url_for('market')}}">
                        <span>
                            <span>官方商城</span>
                            <span>官方商城</span>
                            <span></span>
                        </span>
                    </a>
                <a class="hover-effect col-xs-3" href="{{url_for('c2c_market')}}">
                    <span>
                        <span>C2C商城</span>
                        <span>C2C商城</span>
                        <span></span>
                    </span>
                </a> 
                <a class="hover-effect col-xs-3" href="{{url_for('faq')}}">
                    <span>
                        <span>常见问题</span>
                        <span>常见问题</span>
                        <span></span>
                    </span>
                </a> 
                <a class="hover-effect col-xs-3" href="{{url_for('guide')}}">
                    <span>
                        <span>新手指南</span>
                        <span>新手指南</span>
                        <span></span>
                    </span>
                </a>    -->
                <li class="col-xs-3"><a class="hover-effect"  href="{{url_for('market')}}">
                    官方商城
                </a></li>
                <!-- C2C市场 -->
                <li class="col-xs-3"><a href="{{url_for('c2c_market')}}">C2C商城</a></li>
                <!-- 游戏论坛 -->
                <!-- <li class="col-sm-2"><a href="">游戏论坛</a></li> -->
                <!-- 常见问题 -->
                <li class="col-xs-3"><a href="{{url_for('faq')}}">常见问题</a></li>
                <!-- 新手指南 -->
                <li class="col-xs-3"><a href="{{url_for('guide')}}">商城简介</a></li>
            </ul>
        </div>
    </div>
</div>