{% extends "admin/models/base_forms.html" %}

{% block extra_script %}
  {{ super() }}
  <script src="{{ url_for('static', filename='bower_components/requirejs/require.js')}}"></script>
  <script src="{{ url_for('static', filename='scripts/ueditor/ueditor.config.js')}}"></script>
  <script src="{{ url_for('static', filename='scripts/ueditor/ueditor.all.min.js')}}"></script>
  <script src="{{ static(filename='scripts/qiniu_upload.js')}}"></script>
  <script type="text/javascript">
        require.config({
        paths: {
            "jquery": "http://cdn.bootcss.com/jquery/2.1.4/jquery.min",
            "plupload": "{{ url_for('static',filename="bower_components/plupload/js/plupload.full.min") }}",
            "qiniu": "{{ url_for('static',filename="bower_components/qiniu/dist/qiniu") }}"
        },
    });
    </script>
{% endblock %}


{% block breadcrumbs %}
 {{ super() }}
 <li><span class="divider">/</span> <a href="." data-language="product_edit_lg_1"></a></li>
{% endblock %}

{% block extra_tabs %}
  <li class="active"><a href="." data-language="product_edit_lg_2"></a></li>
{% endblock %}

{% block content %}
  {% include "admin/includes/form_raw_id.html" %}
  {% if form.errors %}
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p data-language="product_edit_lg_3"></p>
    </div>
  {% endif %}
  <form method="post" action="." class="edit form-horizontal" enctype="multipart/form-data">
    <fieldset>
      {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
      <legend data-language="product_edit_lg_4">{{ model_admin.get_display_name() }}</legend>
      {% for field in form %}
        {% if field.name == "content" %}
		  <div class="control-group">
            <label class="control-label" for="content" data-language="product_edit_lg_5"></label>
            <div class="controls">
                <textarea id="content" name="content" style="width:800px;height:240px;">{{ instance.content }}</textarea>
                <script type="text/javascript">

                    var ue = UE.getEditor('content',{
                      serverUrl: "/upload/",
                        //关闭elementPath
                        elementPathEnabled:false,
                        //默认的编辑区域高度
                        initialFrameHeight:500,
                        initialFrameWidth:775,
                        //更多其他参数，请参考umeditor.config.js中的配置项
                        autoClearinitialContent:false
                    });
                </script>
            </div>
          </div>
        {% elif field.name == "thumbnail" %}
        <div class="control-group">
            <label class="control-label" for="thumbnail" data-language="product_edit_lg_6"></label>
            <div class="controls">
                <input class="span8 " id="thumbnail" name="thumbnail" type="text" value="{{ instance.thumbnail }}">
                <a data-language="product_edit_lg_7" class="btn btn-primary"></a>
                <div>
                  <span data-language="product_edit_lg_8"></span>
                  <img style="max-width:80px" class="preview-img" src="{{ instance.thumbnail }}">
                </div>
            </div>
        </div>    
        {% else %}
          {{ admin_field(field) }}
        {% endif %}
      {% endfor %}
      {% block extra_form %}{% endblock %}
      <div class="form-actions">
        <button class="btn btn-primary" name="save" type="submit" data-language="product_edit_lg_9"></button>
        <button class="btn" name="save_add" type="submit" data-language="product_edit_lg_10"></button>
        <button class="btn" name="save_edit" type="submit" data-language="product_edit_lg_11"></button>
        <a class="btn" href="{{ url_for(model_admin.get_url_name('index')) }}" data-language="product_edit_lg_12"></a>
        <a class="btn btn-danger pull-right" href="{{ url_for(model_admin.get_url_name('delete'), id=instance.get_id()) }}" data-language="product_edit_lg_13"></a>
      </div>
    </fieldset>
  </form>
{% endblock %}
{% block scripts %}
<script src="{{ static(filename='scripts/qiniu_upload.js')}}"></script>
<script src="{{ static(filename='scripts/cps_link.js')}}"></script>
{% endblock %}