<!-- order-infos -->
{#订单详情模态框模型#}
<div class="modal fade" id="orderinfos-modal" role="dialog" >
  	<div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="mod_3_ha">订单详情</h4>
			</div>
			<div class="modal-body">
				<div class="asset-info" style="">
					<div>订单编号：<span class="order_id"></span></div>
					<div>商品名称：<span class="com_name"></span></div>
					<div>商品单价：<span class="price"></span></div>
					<div>购买数量：<span class="quantity"></span></div>
					<div>商品类型：<span class="com_type"></span></div>
					<div>卖家信息：<span class="sell"></span></div>
					<div>总共消费：<span class="t_price"></span></div>
					<div>订单创建时间：<span class="create_time"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>