{% extends 'frontend-base.html' %}
{% from '/common/pagination.html' import render_pagination %}
{% block content %}
{% from '/common/render_flashed_messages.html' import render_flashed_messages %}
{{ render_flashed_messages('reset-success') }}
<div class="user-center">
	<div class="crumbs-back">
		<div class="container" >
			<div class="user-info bgf0eff4 clearfix">
				<ul class="info-list" data-id="{{user.id}}">
						<li class="left col-sm-6">
							<div class="img">
								<img class="" src="/static/img/head.png" alt="">
							</div>
							<div class=" pad-le20 recharge-option">
								<p class="name">{{current_user.email}}</p>
								<p class="col-xs-6 col-sm-12">
									<a href="/reset" class="" href="javascript:void(0);" data-language="home_lg_4">Change PWD</a>
								</p> 
								<p class="samllShow col-xs-6 ">
									<a class="recharge " href="javascript:void(0);" >Recharge</a>
								</p>
								<p class="col-xs-6 col-sm-12"> 
									<a href="/reset_pay" class="" href="javascript:void(0);" data-language="home_lg_4">Change payment PWD</a>
								</p> 
								<p class="samllShow col-xs-6">
									<a class="exchange" href="javascript:void(0);">Exchange</a>
								</p>
							</div>
						</li>
						<li class="right col-sm-6 recharge-option">
							<p>
								<a class="recharge btn btn-my btn-lg " href="javascript:void(0);">&nbsp;&nbsp;Top-up&nbsp;&nbsp;</a>
							</p>
							<p>
								<a class="exchange btn btn-my btn-lg " href="javascript:void(0);">Exchange</a>
							</p>
						</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="relate-content">
			<div class="scroll">
				<ul class="tabs h910">
					<li class="col-sm-2 col-xs-4  {{ 'active' if request.path == url_for('my_home') }} ">
						<a href="{{url_for('my_home')}}" id="ho_ma">My Account</a>
					</li>
					<li class="col-sm-2 col-xs-4 {{ 'active' if request.path == url_for('user_recharge') }} ">
						<a href="{{url_for('user_recharge')}}" id="ho_rr">Top-up Record</a>
					</li>
					<li class="col-sm-2 col-xs-4 {{ 'active' if request.path == url_for('user_takeout') }}" >
						<a href="{{url_for('user_takeout')}}" id="ho_cr">Withdrawal Record</a>
					</li>
					<li class="col-sm-2 col-xs-4 {{ 'active' if request.path == url_for('user_sales') }}">
						<a href="{{url_for('user_sales')}}" id="ho_sr">Sales Record</a>
					</li>
					<li  class="col-sm-2 col-xs-4 {{ 'active' if request.path == url_for('user_order') }}">
						<a href="{{url_for('user_order')}}" id="ho_or">Order History</a>
					</li>
					<li class="col-sm-2 col-xs-4 {{ 'active' if request.path == url_for('user_exchange') }}">
						<a href="{{url_for('user_exchange')}}">Exchange Record</a>
					</li>
				</ul>
			</div>
			<div class="tab-content bgf0eff4">
				{% set wrap_tpl =  (g.lang or "en") + "/" %}
				{% if request.path == url_for('my_home') %}
				{% include wrap_tpl + "user/account.html" %}
				{% elif request.path == url_for('user_recharge') %}
				{% include wrap_tpl + "user/recharge_records.html" %}
				{% elif request.path == url_for('user_sales') %}
				{% include wrap_tpl + "user/sales_records.html" %}
				{% elif request.path == url_for('user_order') %}
				{% include wrap_tpl + "user/order_records.html" %}
				{% elif request.path == url_for('user_takeout') %}
				{% include wrap_tpl + "user/takeout_records.html" %}
				{% elif request.path == url_for('user_exchange') %}
				{% include wrap_tpl + "user/exchange_records.html" %}
				{% endif %}
			</div>
			<div style="color:#888;font-size:16px;margin-top:40px;display:none" class="text-center tips" id="ho_end">It's at the end of the touch!</div>
		</div>
		
	</div>
</div>
{% if pagination.pages >=1 %}
<div class="bottom-pagination text-center">
	{{ render_pagination(pagination) }}
</div>
{% endif %}
{% include "en/modal_box/home_modal.html" %}
{% endblock %}
{% block scripts %}
<script src="{{static(filename='scripts/user_home.js')}}"></script>
{% endblock %}

{% block footer %}

{% endblock %}


