<div class="charge-records">
	<!-- <ul class="header-options">
		<li class="active">全部</li>
		<li>今天</li>
		<li>本周</li>
		<li>本月</li>
	</ul> -->
	<div class="smallBox">
		<div>
			{% for item in records %}
			<div class="itemBox">
				<p>{{ item.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
				<div  class="">
					<div class="clearfix">
						<div class="left col-xs-6">
							<span>Asset Type:</span> <span class="num">{{item.cate}}</span>
						</div>
						<div class="right col-xs-6">
							<p>
								<span>Recharge Number:</span> 
								<span>
										{% if item.status %}
											{% if "nft" in item.cate.name.lower() %}
											<td><strong>{{item.value|int}}</strong></td>
											{% else %}
											<td><strong>{{ "%.8f"|format(item.value) }}</strong></td>
											{% endif %}
										{% else %}
										<td><strong>-</strong></td>
										{% endif %}
								</span>
										
							</p>
							<p>
								<span>Recharge schedule:</span> 
								<span>
									{% if item.status %}Complete{% else %}Underway{% endif %}
								</span>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>
	<table class="table" id="rr_1">
		<thead>
			<tr>
				<th id="rr_rt">Time</th>
				<th id="rr_at">Asset Type</th>
				<th id="rr_rn">Amount</th>
				<th id="rr_tt">Status</th>
			</tr>
		</thead>
		<tbody class="cz-body">
			{% for item in records %}
			<tr>
				<td style="color:#888;">{{item.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
				<td>{{item.cate}}</td>
				{% if item.status %}
					{% if "nft" in item.cate.name.lower() %}
					<td><strong>{{item.value|int}}</strong></td>
					{% else %}
					<td><strong>{{ "%.8f"|format(item.value) }}</strong></td>
					{% endif %}
				{% else %}
				<td><strong>-</strong></td>
				{% endif %}
				<td style="color:green">{% if item.status %}Complete{% else %}Underway{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>