<!-- order-infos -->
{#订单详情模态框模型#}
<div class="modal fade" id="orderinfos-modal" role="dialog" >
  	<div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="mod_3_ha">Order Information</h4>
			</div>
			<div class="modal-body">
				<div class="asset-info">
					<div>Order ID：<span class="order_id"></span></div>
					<div>Commodity Name：<span class="com_name"></span></div>
					<div>Commodity Price：<span class="price"></span></div>
					<div>Quantity：<span class="quantity"></span></div>
					<div>Commodity Type：<span class="com_type"></span></div>
					<div>Sell Information：<span class="sell"></span></div>
					<div>Total Consumption：<span class="t_price"></span></div>
					<div>Creation time：<span class="create_time"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>